apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    run: example-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30007  # Puerto accesible desde fuera del cluster (rango 30000-32767)
  type: NodePort